<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Question List</h4>
        <p class="card-description">
        </p>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th></th>
              <!--<th><input type="text" name="topicName" [(ngModel)]="topicNew.topicName" class="form-control" id="exampleInputName1" required="required" placeholder="Topic Name"></th>-->
              <th>
                <button type="button" class="btn btn-inverse-success btn-fw" (click)="createNewQ()" >Add New</button>
              </th>
            </tr>
            <tr>
              <th>#</th>
              <th>Topic</th>
              <th>Question</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <ng-container></ng-container>
            <tr *ngFor="let question of questions; let i = index">
              <td>{{i + 1}}</td>
              <td>{{ getTopicNameById(question.topicId) }}</td>
              <td>
                <ng-katex-paragraph [paragraph]="question.text"></ng-katex-paragraph>
                <div *ngFor="let aw of question.answers; let j = index" [ngStyle]="{'background-color': aw.isCorrect ? 'green' : 'none' }">
                  <p>Answer {{j + 1}}:</p>
                  <ng-katex-paragraph [paragraph]="aw.text"></ng-katex-paragraph>
                  <p *ngIf="aw.correctReason && aw.correctReason.length > 0" style="font-style: italic">* {{aw.correctReason}}</p>
                </div>

              </td>
              <td>
                <button class="btn btn-inverse-danger btn-fw" (click)="delete(question.id)">Delete</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
